@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  background-image: url("https://pokemon-world-imdoug.netlify.app/img/pokeball.svg") ;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  min-height: 100vh;
  padding-bottom: 150px;
  max-width: 100%;
}

@media (min-width: 1024px) {
  body {
    padding-bottom: 80px;
  }
}
